<footer>
    <section class="pie-de-pagina">
        <article class="descripcion-foot">
            <p> Bienvenidos Fans de “el principito” a la fan page de la novela.</p>
            <br>
            <p> la mayoria de las imagenes son de mi autoria, pero la histotia original pertenece a Antoine de Saint-Exupéry.
            </p>
            <br>
            <p style="color: #568AB9;"> BIT Bootcamp Desarrollo web 202407 | Todos los derechos reservados | ©2024
            </p>
        </article>

        <!-- Enlaces a redes Sociales -->
        <section class="contenedorFT2">
            <p class="textoft2"> Puedes contactarnos y ver más acerca de esta página en: </p>
            <figure class="logosContacto">
                <a target="_blank"
                    href="https://api.whatsapp.com/send/?phone=573197390561&text&type=phone_number&app_absent=0"><img
                        class="whatsApp-contacto" src="./assets/wp_png.png"></a>

                <a target="_blank" href="https://github.com/FabLog31/Die_Cast_Market_TF100"><img id="github"
                        src="./assets/github_blanco.png"></a>
            </figure>
        </section>
    </section>
</footer>